body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(90deg, rgba(178,114,161,1) 0%, rgba(160,229,169,1) 50%, rgba(16,115,138,1) 100%);
}

button {
	cursor: pointer;
}